{% extends 'base.html' %}
{% load omfilters %}

{% block title %}Carrinho | {% endblock %}

{% block content %}

{% if cart %}

<div class="row mt-3">
    <div class="col">
        <h3>Carrinho de compras</h3>
        <p class="lead">Produtos no seu carrinho.</p>
        {% include 'partials/_cart.html' %}

    </div>
</div>

<div class="row mt-3">
    <div class="col-lg">
        <p class='lead'>Total do carrinho</p>

        <div class='table-responsive'>
            <table class="table">
                <tr>
                    <td class="font-weight-bold">Total</td>
                    <td>{{cart|totalcart|formatprice}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg mt-auto">
        {% if request.user.is_authenticated %}
        <a class="btn btn-lg btn-block btn-primary" href="{% url 'products:finalize' %}">
            Finalizar a compra
        </a>
        {% else %}
        <a class="btn btn-lg btn-block btn-primary" href="{% url 'profiles:create' %}">
            Fazer Login
        </a>
        {% endif %}
    </div>
</div>

{% else %}

<div class="row mt-3">
    <div class="col">
        <h3>Carrinho vazio</h3>
        <p class="lead">Nenhum produto no carrinho.</p>
    </div>
</div>

{% endif %}

{% endblock %}